---
layout: default
title: About
section_id: about
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
testimonials:
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
  - quote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
    author: David White, Designer at Huglab
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="We can not solve our problems with the same thinking we used when we created them. -Albert Einstein" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% include section-header.html title="Our Mission" %}
      <div class='spacing'></div>
      <div class='items centered-text'>
        <p class='quote'>"Create digital forensics cyber hunters one exercise at a time."</p>
      </div>
    </div>
    <div class='medium-6 columns'>
      {% include section-header.html title="Our Vision" %}
      <div class='spacing'></div>
      <div class='items centered-text'>
        <p class='quote'>"Develop a digital forensics workforce to mitigate the threat to public safety, national, and economic security."</p>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Objective" %}
      <p>The US Government identifies cybersecurity as "one of the most serious economic and national security challenges we face as a nation, but one that we as a government or as a country are not adequately prepared to counter."</p>
      <p>Our objective is to conduct educational outreach and research activities that support cybersecurity to build tomorrow's cyber hunters. These activities may include, but are not limited to, the formation and operation of digital forensics competitions, educational seminars, workshops, and intellectual cultivation of digital forensics capabilities.</p>

      <h4>What is Digital Forensics?</h4>
      <p>Digital forensics is the process of 'collecting, processing, preserving, analyzing, and presenting computer-related evidence in support of network vulnerability mitigation, and/or criminal, fraud, counterintelligence or law enforcement investigations."</p>
      <p>Cyber Hunters must determine: what happened, how it happened, who did it, motive, if they still have access, was any sensitive information compromised.</p>

    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    {% include section-header.html title="Our Team" %}
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
